@import "theme/theme_variables";  // <-------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here

//Max block width
.wp-block {
	max-width: 1140px;
}

/** === Base Typography === */

body {
	font-family: $sansserif;
}

p {
	font-size: 1rem;
}
h1 {
	font: 55px/60px $serif;
}
h2 {
	margin: 0 0 10px;
	font: 35px/40px $serif;
}
h3 {
	font: 30px/35px $serif;
}
.wp-block-embed, figure, p {
	margin: 0 0 30px;
}

.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container, .wp-block-cover__video-background  .wp-block-cover__inner-container {
    color: #f8f9f9;
}

.interior-header {
	h1 {
		font-size: 55px;
		
		&:before {
			display: block;
			content: " ";
			width: 40px;
			height: 2px;
			background: $white;
			margin: 0 auto 15px;
		}
	}
	p {
		margin: 0 30%;
		
		&.pre-heading {
			margin: -50px 0 15px;
			font: 100 17px/20px $serif;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	p[role=textbox] {
		margin: 0; 
	}
}




/* /////  Columns  ////////////////////////////// */

.wp-block-column {
	.wp-block-button {
		transition: all 0.2s linear;
		
		.wp-block-button__link {
			display: inline-block;
		    margin: 0;
		    padding: 16px 30px;
			border-radius: 0;
		    border: 3px solid $black;
		    box-shadow: none;
		    color: $black;
		    background-color: transparent !important;
		    font: 16px/20px $serif;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    text-align: center;
		    text-decoration: none;
		    overflow-wrap: break-word;
			transition: all 0.2s ease-in-out;
			
			&:hover, 
			&:focus {
				color: $white;
				background-color: $black !important;
			}
			&:active {
				transform: translateY(2px);
			}
		}		
	}
}

.blue .wp-block-column {
	
	.wp-block-button {
		
		.wp-block-button__link {
			border: 3px solid $white;
			color: $white;
			
			&:hover, 
			&:focus {
				color: $blue;
				background-color: $white !important;
			}
		}
	}
}

.col-md-12 {
	padding: 0;
}

.wp-block-columns.blue {
	background: $blue;
	color: #fff;
}

.wp-block-column {
	flex-basis: calc(50%);
	
	&.text {
		padding: 4% 6% 4% 4%;
	}
	&:not(:first-child),
	&:nth-child(2n) {
		margin-left: 0;
	}
}

.wp-block-image {
	margin-bottom: 0;
}


/* /////  Homepage  ////////////////////////////// */

.home {

	.wp-block-embed,
	.wp-block-cover {
		margin-bottom: 28px;
	}
	
}

.family-pod {
	a {
		color: $white;
		text-decoration: none;
		&:hover h2, &:focus h2, &:active h2 {
			font-size: 40px;
		}
	}
	h2 {
		padding-top: 110px;
		transition: font-size 0.3s ease-in-out;
	}
}

/* /////  Interior Detail page  ////////////////////////////// */

#primary {
	padding: 0;	
}

h1.entry-title {
	display: none;
}
.home h1.entry-title {
	display: block;
}

.interior-header {
	h1 {
		font-size: 55px;
		
		&:before {
			display: block;
			content: " ";
			width: 40px;
			height: 2px;
			background: $white;
			margin: 0 auto 15px;
		}
	}
	p {
		margin: 0 30%;
		
		&.pre-heading {
			margin: -50px 0 15px;
			font: 100 17px/20px $serif;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
}

.interior-content {
	position: relative;
	z-index: 100;
	margin: -100px 15% 0;
	
	&.white {
		background: $white;
		padding: 40px;
	}
}


